// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title-ﬁeld { width: 100%; }
.body-ﬁeld { width: 100%; }
.btn-delete { color: white !important; margin-top:100px !important; }
